$primary-color: #2FA5F0;

.signature-left, .signature-right {
  text-align: center;
  float: none;
}

.signature{
  display: inline-block;
  color: $primary-color;
  font-size: 0.1rem;
  padding: 0.em 0 0 0;
  width: 100%;
}

.signature a.fa {
  cursor: pointer;
  opacity: 0.8;
  padding: 0.0em;
}

.signature a.fa:hover {
  opacity: 1;
}

.signature iframe[title=Flattr] {
  position: relative;
  top: 0.0em;
}
